<!DOCTYPE html>
{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search tool</title>
    <h1>Welcome to the Search tool project </h1>
</head>
<body>

    <h2>Would you like to..</h2>
    <h3>
        <a href=""> Search for a publication

        </a>
    </h3>
    <h4>
        OR
    </h4>
    <h3>
        <a href="{% url 'post_a_publication' %}"> Post a publication
        </a>
    </h3>
    <h3></h3>
    <div>
        <br />

    </div>
</body>
</html>