<!DOCTYPE html>

{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}

{% block title_block %}
- Post a Publication
{% endblock %}

{% block body_block %}
<div class="row mx-auto">
    <div class="col" >
        <form class="form-group" id="paper_form" method="post" action="{% url 'post_a_publication' %}" enctype="multipart/form-data">
            <fieldset>
                {% csrf_token %}
                <div class="card p-2 bg-dark text-white">
                    <div class="card-header">
                        <h5>
                            <strong>Enter Publication Details Below</strong>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Title"> {{form.title.label}} </label>
                                <div id="Title">
                                    {{ form.title }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Year" > {{form.year_id.label}}</label>
                                <div id="Year">
                                    {{ form.year_id }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Type" > {{form.type_id.label}} :</label>
                                <div id="Type">
                                    {{ form.type_id }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Language" > {{form.language.label}}</label>
                                <div  id="Language">
                                    {% for i in form.language %}
                                        <div class="px-4">
                                             {{ i }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Tag" > {{form.tag.label}}</label>
                                <div  id="Tag">
                                    {% for i in form.tag %}
                                        <div class="px-4">
                                            {{ i }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="material" > {{form.material.label}}</label>
                                <div  id="material">
                                    {% for i in form.material %}
                                    <div class="px-4">
                                        {{ i }}
                                    </div>
                                    {% endfor %}                                                             </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="Pdf" > {{form.pdf.label}}</label>
                                <div id="Pdf">
                                    {{ form.pdf }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label class="control-label" for="abstract" > {{form.abstract.label}}</label>
                                <div  id="abstract">
                                    {{ form.abstract }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Post a publication</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}