<!DOCTYPE html>

{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %}



- Post a Publication
{% endblock %}

{% block body_block %}
        <div>
            <div class="row">
                <div class="col-12" >
                    <form id="paper_form" method="post" action="{% url 'post_a_publication' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        {% for field in form %}
                            <div class="fieldWrapper pt-3">
                                {% csrf_token %}
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <br>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" name="submit" value="Post Publication"/>
                    </form>
                </div>
            </div>
        </div>
 {% endblock %}