<!DOCTYPE html>
{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title_block %}
- Search page
{% endblock %}
{% block body_block %}
<div class="row mx-auto">
    <div class="col-lg-3 px-2">
    <form class="form-group" method="post" action="{% url 'search_publication' %}" name="searched">
        {% csrf_token %}
        <div class="form-group">
            <div>
                {% bootstrap_field form.title placeholder='Enter Publication title to search' %}
            </div>
            <div>
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
            </div>



    </div>

        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search for a publication</button>
    </form>
</div>

    <div class="col-9 px-2">
        <form class="form-group" method="post" action="{% url 'search_publication' %}" name="searched">
            {% csrf_token %}
            <div>
                {% for result in results %}
                    <div>  {{ result }} </div>
                    <div> year ---> {{ result.year_id }}</div>
                    <div> slug ---> {{ result.slug }}
                    <ul>
                        <li>
                            <a href="{% url 'show_publication' result.slug %}">{{ result }}</a>
                        </li>
                    </ul>
                    </div>

                    <div> type ---> {{ result.type_id }}</div>
                    <div>tag --->
                        {% for tag in result.tag.all %}
                          <div>{{ tag }}</div>
                        {% endfor %}
                    </div>
                    <div> language --->
                        {% for language in result.language.all %}
                          <div>{{ language }}</div>
                        {% endfor %}
                    </div>
                    <div> reviewed ---> {{ result.reviewed }}</div>
                    <div> material --->
                        {% for material in result.material.all %}
                          <div>{{ material }}</div>
                        {% endfor %}
                    </div>
                    <div class="text-wrap"> Abstract ---> {{ result.abstract }}</div>
                <hr>
                {%endfor%}
            </div>
        </form>
    </div>

</div>
{% endblock %}
