<!DOCTYPE html>
{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title_block %}
- Homepage
{% endblock %}
{% block body_block %}
<div class="row">
    <div class="col-2">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form search.form %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for a publication</button>
        </form>
    </div>
    <div class="row">

    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            {% csrf_token %}
            {% for field in object_list %}
            <tr>
                <td>{{context.as_table}}</td>
            </tr>
                {{papers.as_ul}}
            {% endfor %}
        </form>

    </div>
</div>
{% endblock %}