<!DOCTYPE html>
{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}


{% block title_block %}
- Search page
{% endblock %}
{% block body_block %}
<div class="row mx-auto">
    <div class="col-lg-3">
        <form class="form-group" method="POST" action="{% url 'search_publication' %}" name="searched">
            {% csrf_token %}
            {{form}}
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="Title" > {{form.title.label}} :</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="Title">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="year" > {{form.year.label}} :</label>
                </div>
                <div class="col-8 align-self-end">
                    <select id="year" class="selectpicker" multiple>
                        {% for i in form.year %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="type" > {{form.type.label}} :</label>
                </div>
                <div class="col-8 align-self-end">
                    <select id="type" class="selectpicker" multiple>
                        {% for i in form.type %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="language" > {{form.language.label}} :</label>
                </div>
                <div class="col-8 align-self-end">
                    <select id="language" class="selectpicker" multiple>
                        {% for i in form.language %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="tag" > {{form.tag.label}} :</label>
                </div>
                <div class="col-8 align-self-end">
                    <select id="tag" class="selectpicker" multiple>
                        {% for i in form.tag %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="material" > {{form.material.label}} :</label>
                </div>
                <div class="col-8 align-self-end">
                    <select id="material" class="selectpicker" multiple>
                        {% for i in form.material %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>

            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search for publication</button>
        </form>
    </div>

    <div class="col-9 px-2">
        <form class="form-group" method="post" action="{% url 'search_publication' %}" name="searched">
            {% csrf_token %}
            <div>
                {% for result in results %}
                    <div class="card p-2">
                        <div class="card-body" > {{ result.title }} </div>
                        <div class="card-body" > year ---> {{ result.year_id }}</div>
                        <div> slug ---> <a href="{% url 'show_publication' result.slug %}">{{ result }}</a>
                        </div>

                        <div> type ---> {{ result.type_id }}</div>
                        <div>tag --->
                            {% for tag in result.tag.all %}
                              <div>{{ tag }}</div>
                            {% endfor %}
                        </div>
                        <div> language --->
                            {% for language in result.language.all %}
                              <div>{{ language }}</div>
                            {% endfor %}
                        </div>
                        <div> reviewed ---> {{ result.reviewed }}</div>
                        <div> material --->
                            {% for material in result.material.all %}
                              <div>{{ material }}</div>
                            {% endfor %}
                        </div>
                        <div class="text-wrap"> Abstract ---> {{ result.abstract }}</div>
                    <div>
                {%endfor%}
            </div>
        </form>
    </div>

</div>
{% endblock %}
