{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}

{% block title_block %}
- vue_search
{% endblock %}

{% block body_block %}
<h1> Search with vue</h1>

<div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style >
      body{
          background: rgba(192, 180, 180, 0)(219, 2, 2, 0.815);
          max-width: 960;
          margin: 20 auto;
      }
      p, h3, ul{
          margin: 0;
          padding: 0;
      }
      li{
          list-style-type: none;
          background: rgba(255, 255, 255, 0.144);
          margin: 20px auto;
          padding: 10px 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50;
          color: black;
      }
      li.clicked{
          background: #45bd95;
          color: rgb(67, 75, 71);
      }
      img {
          border: 1px solid rgb(0, 0, 0);
          border-radius: 4px;
          padding: 5px;
          width: auto;
          height: auto;
          max-width: 40;
          max-height: 40;
          background-color: rgb(88, 88, 88);
          }
    </style>

      <div id="app">
                [[info]]
          <div v-for="id in info">
              <a>[[id]] -- [[id.type]]</a>

          </div>
      </div>

      <script>
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
                info: null
          },
          mounted () {
          axios
             .get('http://127.0.0.1:8000/search_tool_app/type/')
             .then(response => this.info = response.data)
             console.log("aasd")

             },
        });
      </script>

</div>

{% endblock %}