{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}

{% block title_block %}
- vue_search
{% endblock %}

{% block body_block %}
<h1> Search with vue</h1>

<div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
        body {
            background: rgba(192, 180, 180, 0)(219, 2, 2, 0.815);
            max-width: 960;
            margin: 20 auto;
        }

        p,
        h3,
        ul {
            margin: 0;
            padding: 0;
        }

        img {
            border: 1px solid rgb(0, 0, 0);
            border-radius: 4px;
            padding: 5px;
            width: auto;
            height: auto;
            max-width: 40;
            max-height: 40;
            background-color: rgb(88, 88, 88);
        }

    </style>

    <div id="app">
        [[selected]]

        <div class="row">
            <!--            FILTERS -->
            <div class="col-3 p-1 form-group">
                <h1 class="m-2">Filters</h1>

             <div class="form-inline form-group">
                <label id="title" class="form-label"> Title :</label>
                        <input for="title" class="form-control m-1" type="text" v-model="selected.title" >
                 </div>

                <div class="m-2">Type :</div>
                <div class="form-check" v-for="item in paper_types">

                    <input :id="item" :value="item.type" class="form-check-input" type="checkbox"
                           v-model="selected.type" >
                    <label class="form-check-label" > 
                        [[item.type]]
                    </label>
                </div>


                <div class="m-2 ">Author :</div>
                <div class="form-check" v-for="item in authors">

                    <input :id="item" :value="item.name" class="form-check-input" type="checkbox"
                           v-model="selected.authors">
                    <label class="form-check-label">
                        [[item.name]]
                    </label>

                </div>

                <p class="m-2">Year Published: </p>
                <div class="form-check" v-for="item in years">
                    <input :id="item" :value="item.year_published" class="form-check-input" type="checkbox"
                           v-model="selected.year_published">
                    <label class="form-check-label">
                        [[item.year_published]]
                    </label>
                </div>


                <p class="m-2">Tags: </p>
                <div class="form-check" v-for="item in tags">
                    <input :id="item" :value="item.tag" class="form-check-input" type="checkbox"
                           v-model="selected.tags">
                    <label :for="item.type" class="form-check-label">
                        [[item.tag]]
                    </label>
                </div>
            </div>
            <!--                RESULTS -->
            <div class="col-9">
                <div class="row mt-4">
                    <div class="col-12 p-1" v-for="item in papers">
                        <div class="card bg-dark text-white">
                            <div class="card-header">
                                <h5>
                                    <strong> Publication Title :</strong> [[item.title]]
                                </h5>

                            </div>
                            <div class="card-body">
                                <p><strong> Author :</strong>

                                    <div v-for="i in item.author">
                                        [[i]]
                                    </div>
                                </p>
                                <p><strong> Year Published :</strong> [[item.year_id]]</p>
                                <p><strong> Type :</strong> [[item.type_id]] </p>
                                <p><strong> Language Written :</strong>
                                    <a v-for="lan in item.language"> [[lan]] </a>
                                </p>
                                <p><strong> Materials Examined :</strong>
                                    <a v-for="mat in item.material"> [[mat]] </a>
                                </p>
                                <p><strong> Abstract :</strong> {{ result.abstract }} </p>
                                <p><strong> Tags :</strong>
                                    <a v-for="mat in item.tag"> [[mat]] </a>

                                </p>
                                <p><strong> placeholder :</strong> {{ result. }} </p>
                                <div class="text-right">
                                    <a class="btn btn-outline-success align-self-end" href="">View
                                        Publication</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <script>
                var app = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#app',
                    data: {
                        papers: null,
                        paper_types: null,
                        authors: null,
                        years: null,
                        tags: null,
                        selected: {
                            title: [],
                            authors: [],
                            type: [],
                            language: [],
                            year_published: [],
                            materials: [],
                            tags: [],
                        }
                    },
                    computed: {
                        filtered() {
                            return this.selected.map()
                        },
                        
                    },
                    mounted() {
                        axios
                            .get('http://127.0.0.1:8000/paper/')
                            .then(response => this.papers = response.data)
                        console.log("Paper objects gotten")

                        axios
                            .get('http://127.0.0.1:8000/type/')
                            .then(response => this.paper_types = response.data)
                        console.log("type objects gotten")

                        axios
                            .get('http://127.0.0.1:8000/author/')
                            .then(response => this.authors = response.data)
                        console.log("author objects gotten")

                        axios
                            .get('http://127.0.0.1:8000/year/')
                            .then(response => this.years = response.data)
                        console.log("years objects gotten")

                        axios
                            .get('http://127.0.0.1:8000/tag/')
                            .then(response => this.tags = response.data)
                        console.log("Tags objects gotten")

                        
                    }


                });

            </script>


            {% endblock %}
        </div>
