<!DOCTYPE html>
{% extends 'search_tool_app/Base_boot-strap.html' %}
{% load static %}

{% block title_block %}
- Vuepage 
{% endblock %}


{% block body_block %}
<h1>Welcome to the Search tool project super funky yeah vue template implementation extravaganza </h1>
<h2>Just for fun heading </h2>
<h3>Fun..</h3>
<h4>Fun.</h4>
<h5>fun</h5>
<div>
    {% if items %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type='text/javascript'>
        var people = {{ items_json|safe }};
      </script>

      <div id="app">
        [[message]]

        <ul>
          <li v-for="person in people" :class="{clicked: person.clicked}">
            <a>[[ person.name ]]</a> <a>[[person.clicked]]</a><button v-on:click="changeIsClicked(person)">hey</button>
          </li>
        </ul>

      </div>

      <script>
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
              message: 'Hello Vue!',
              people: people,
          },
          methods: {
            changeIsClicked(people){
            people.clicked= !people.clicked
              }
          }
        });
      </script>

    {% else %}
    <p>No items available.</p>
  {% endif %}</div>


{% endblock %}